body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient( 109.6deg, rgba(238,239,237,1) 11.4%, rgba(195,203,211,1) 91.1% );
}

#content {
    padding-left: 10%;
    padding-right: 10%;
}
