body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: radial-gradient(circle, #3f5efb, #fc466b)
}

.main {
    background-color: white;
}

.main nav {
    /* box-shadow: 10px 10px grey; */
    /* border-bottom: 2px black solid; */
    height: auto;
}

.nav-list {
    list-style-type: none;
    margin: 10px;
    padding: 0;
    margin: 0;
}

.nav-list li {
    float: left;
}

.nav-list li a {
    display: block;
    padding: 10px;
    /* border-bottom: 2px black solid; */
    text-decoration: none;
    color: white;
    background-color: black;
}
.nav-list li a:hover {
    color: black;
    background-color: white;
}

.content {
    padding: 15px;
    padding-top: 30px;
    padding-left: 30px;
}

h1 {
    text-align: center;
}
